#### Number of census tract in a county - Analysis

In [8]:
import geopandas as gpd
import pandas as pd

In [2]:
svi = gpd.read_file('/home/h6x/git_projects/ornl-svi-data-processing/raw_data/svi/2018/SVI2018_US_tract.gdb')

In [3]:
svi.head()

,ST,STATE,ST_ABBR,STCNTY,COUNTY,FIPS,LOCATION,AREA_SQMI,E_TOTPOP,M_TOTPOP,...,F_THEME4,F_TOTAL,E_UNINSUR,M_UNINSUR,EP_UNINSUR,MP_UNINSUR,E_DAYPOP,Shape_Length,Shape_Area,geometry
0,01,ALABAMA,AL,01015,Calhoun,01015981901,"Census Tract 9819.01, Calhoun County, Alabama",24.243865,0,12,...,-999,-999,0,12,-999.0,-999.0,656,0.339400,0.006105,"MULTIPOLYGON (((-86.01323 33.68426, -86.01224 ..."
1,01,ALABAMA,AL,01015,Calhoun,01015981902,"Census Tract 9819.02, Calhoun County, Alabama",34.646714,0,12,...,-999,-999,0,12,-999.0,-999.0,146,0.420459,0.008752,"MULTIPOLYGON (((-86.01730 33.69662, -86.01704 ..."
2,01,ALABAMA,AL,01015,Calhoun,01015981903,"Census Tract 9819.03, Calhoun County, Alabama",13.926276,0,12,...,-999,-999,0,12,-999.0,-999.0,0,0.330164,0.003508,"MULTIPOLYGON (((-85.78501 33.66554, -85.78318 ..."
3,01,ALABAMA,AL,01097,Mobile,01097003605,"Census Tract 36.05, Mobile County, Alabama",0.732300,899,316,...,-999,-999,33,36,3.7,4.1,5135,0.060725,0.000180,"MULTIPOLYGON (((-88.19230 30.69524, -88.19097 ..."
4,01,ALABAMA,AL,01097,Mobile,01097990000,"Census Tract 9900, Mobile County, Alabama",0.000000,0,12,...,-999,-999,0,12,-999.0,-999.0,0,0.105380,0.000536,"MULTIPOLYGON (((-88.05337 30.50699, -88.05109 ..."

In [4]:
svi['STCNTY'].nunique()

3142

In [5]:
counties = svi['STCNTY'].unique().tolist()

In [9]:
# create an empty dataframe
df_counties = pd.DataFrame(columns=['STCNTY', 'count'])

In [10]:
for county in counties:
    count = svi[svi['STCNTY'] == county].shape[0]
    new_row = pd.DataFrame([{'STCNTY':county,'count':count}])
    df_counties = pd.concat([df_counties, new_row], ignore_index=True)

In [11]:
df_counties

     STCNTY count
0     01015    31
1     01097   115
2     01117    48
3     02185     3
4     04012     9
...     ...   ...
3137  48271     1
3138  48283     1
3139  48301     1
3140  48311     1
3141  49009     1

[3142 rows x 2 columns]

In [13]:
for i in range(1, 11):

    number_of_counties = len(df_counties[df_counties['count'] == i]['STCNTY'].unique())

    print(f'Number of counties with {i} tracts: {number_of_counties}')

Number of counties with 1 tracts: 237
Number of counties with 2 tracts: 305
Number of counties with 3 tracts: 322
Number of counties with 4 tracts: 256
Number of counties with 5 tracts: 268
Number of counties with 6 tracts: 202
Number of counties with 7 tracts: 148
Number of counties with 8 tracts: 107
Number of counties with 9 tracts: 112
Number of counties with 10 tracts: 108

In [14]:
number_of_counties_morethan10 = len(df_counties[df_counties['count'] > 10]['STCNTY'].unique())

In [15]:
print(f'Number of counties with more than 10 tracts: {number_of_counties_morethan10}')

Number of counties with more than 10 tracts: 1077